[Desktop Entry]
Name=Dynamic Virtual Desktops
Name[zh_CN]=动态虚拟桌面
Comment=Automatically adds/removes virtual desktops.
Comment[zh_CN]=自动增加/删除虚拟桌面。
Icon=preferences-system-windows-script-test
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Ricardo Liang
X-KDE-PluginInfo-Email=ricardoliang@gmail.com
X-KDE-PluginInfo-Name=dynamicVirtualDesktops
X-KDE-PluginInfo-Version=0.0.2
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=dynamicVirtualDesktops
X-KDE-ParentComponents=dynamicVirtualDesktops
